#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.values {
  margin-bottom: 20px;
}

.count {
  background-color: #f9f9f9;
  border-radius: 10px;
  width: 100px;
  margin: auto;
  margin-bottom: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.bankrupt {
  background-color: #ea1212;
}

.not-bankrupt {
  background-color: #f9f9f9;
}

.image {
  width: 180px;
}

.headline {
  padding: 40px;
  background-color: #f9f9f9;
  border-bottom: darkgray
  1px solid;
}

.App {
  display: flex;
  gap: 100px;
}

.news{
  width: 600px;
  font-size: 20px;
}